@{
  ViewData["Title"] = "Danger".ToUpper();
}

<section class="section-danger mt-5">
  <div class="container mt-4">
    <h1 class="display-4 text-primary text-center">@ViewData["Title"]</h1>
    <span class="mb-5" style="margin: auto; width: 20%; border: 2px solid #abb6c2; display: block;"></span>
    <div>
      <p>You have tried to access the site without permission. Your device and ip have been recorded.</p>
      <p>Your device:&nbsp;&nbsp;<span class="text-danger device-name"></span></p>
      <p>Your ip:&nbsp;&nbsp;<span class="text-danger ip-address"></span></p>
    </div>
  </div>
</section>


<script src="~/js/hacker.js" asp-append-version="true"></script>