@{
  ViewData["Title"] = "Enter Code".ToUpper();
}

<div id="loader-container" class="loader-container">
    <div class="load-title-container">
        <div class="load-inner-container">
            <h3 class="loading">Loading...</h3>
        </div>
    </div>
    <div id="loader" class="center"></div>
</div>

<div class="main">
  @model EnterCode;
  <section class="section-enter-code mt-5">
    <div class="container">
      <div class="row">
        <div class="col">
          <h1 class="display-4 text-primary text-center">@ViewData["Title"]</h1>
          <span class="mb-4" style="margin: auto; width: 20%; border: 2px solid #abb6c2; display: block;"></span>
          <div class="recovery-form-container p-3 mt-5">
            <form asp-action="EnterCode" asp-controller="Admin" method="POST">
              <span class="text-danger" asp-validation-for="RecoveryCode"></span>
              <div class="form-group">
                <input asp-for="RecoveryCode" type="text" class="form-control" id="RecoveryCode" aria-describedby="RecoveryCode" placeholder="Enter code">
                <small id="emailHelp" class="form-text text-muted">Enter recovery code from email</small>
              </div>
              <a class="btn btn-outline-secondary mr-2" asp-controller="Admin" asp-action="CancelRecovery">Cancel</a>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>