@{
  ViewData["Title"] ="New Technology".ToUpper();
   User userTech = ViewBag.userTech;
}

<section class="section-new-technology mt-5">
  <div class="container border shadow mb-5">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-12 p-2 border-right">
        <partial name="Sidebar" model="@userTech"/>
      </div>
      <div class="col-lg-9 col-md-9 col-sm-12 p-3">
        <a class="text-secondary float-right" asp-controller="Admin" asp-action="Dashboard">Back</a>
        <h1 class="text-primary">@ViewData["Title"]</h1>
        <hr class="my-4 bg-white">
        @model TechViewModel
        <form enctype="multipart/form-data" class="p-3 border border-secondary text-muted" asp-controller="Admin" asp-action="CreateTechnology" method="POST">
          <span class="text-danger" asp-validation-for="TechnologyName"></span>
          <div class="form-group">
            <label asp-for="TechnologyName">Technology</label>
            <input asp-for="TechnologyName" type="text" class="form-control" id="TechnologyName" name="TechnologyName" placeholder="Enter technology">
          </div>
          <span class="text-danger" asp-validation-for="TechnologyImage"></span>
          <div class="form-group">
            <label asp-for="TechnologyImage">Image</label>
            <input asp-for="TechnologyImage" type="file" class="form-control" id="TechnologyImage" name="TechnologyImage">
          </div>
          <a asp-controller="Admin" asp-action="Dashboard" class="btn btn-outline-secondary text-white mr-2">Cancel</a>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</section>