@{
  ViewData["Title"] = "reset password".ToUpper();
}

@model NewPassword
<section class="section-password-recovery mt-5">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1 class="display-4 text-primary text-center">@ViewData["Title"]</h1>
        <span class="mb-4" style="margin: auto; width: 20%; border: 2px solid #abb6c2; display: block;"></span>
        <div class="recovery-form-container p-3 mt-5">
          <form asp-action="ResetPassword" asp-controller="Admin" method="POST">
            <span class="text-danger" asp-validation-for="NewPass"></span>
            <div class="form-group">
              <input asp-for="NewPass" type="text" class="form-control" id="NewPass" aria-describedby="NewPass" placeholder="Enter new password">
            </div>
            <span class="text-danger" asp-validation-for="NewConfirmPass"></span>
            <div class="form-group">
              <input asp-for="NewConfirmPass" type="text" class="form-control" id="NewConfirmPass" aria-describedby="NewConfirmPass" placeholder="Confirm new password">
            </div>
            <a class="btn btn-outline-secondary mr-2" asp-controller="Admin" asp-action="CancelRecovery">Cancel</a>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

