<footer class="bg-dark footer shadow">
  <div class="bg-dark">
      <div class="container">
          <div class="row pt-2">
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-center bg-bark " id="col-copy">
                  <span class="text-muted"> &copy; <span id="year"></span> - David Bui</span>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-center bg-dark " id="col-nav">
                  <a class="text-info footer-nav-link" asp-controller="Home" asp-action="About"> About</a> <Span class="text-muted">|</Span> <a class="text-info footer-nav-link" asp-controller="Home" asp-action="Projects">Projects</a> <span class="text-muted">|</span> <a class="text-info footer-nav-link" asp-controller="Home" asp-action="Contact">Contact</a> 
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-center bg-dark footer-icon" id="col-links">
                  <a class="footer-icon-link" href="https://www.linkedin.com" target="blank"><i class="fab fa-2x fa-linkedin text-muted"></i></a> <a class="footer-icon-link" href="https://github.com" target="blank"><i class="fab fa-github-square fa-2x text-muted"></i></a> <a class="footer-icon-link" href="https://wwww.facebook.com" target="blank"><i class="fab fa-2x fa-facebook-square text-muted"></i></a> <a class="footer-icon-link" href="https://twitter.com/explore" target="blank"><i class="fab fa-twitter-square fa-2x text-muted"></i></a>
              </div>
          </div>
      </div>
  </div>
</footer>