<header style="position: relative">
  <nav class="view-nav navbar navbar-dark fixed-top bg-dark shadow">
      <div class="container ml-auto">
        <ul class="nav navbar-nav flex-grow-1">
            <li class="nav-item dis mx-auto">
                <h3><a class="text-primary nav-link" asp-controller="Home" asp-action="Project"><i class="fas fa-arrow-left"></i> Projects</a></h3>
            </li>
        </ul>
      </div>
  </nav>
</header>