<section class="modal-section-intro text-left">
  <div class="row text-left">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <div>
        <i class="fas fa-envelope-square text-info"></i> - david.t.bui83&commat;gmail.com
      </div>
      <div>
        <i class="fas fa-phone-square text-info"></i> - 657-200-8596
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <div>
        <i class="fab fa-linkedin text-info"></i> -  <a class="text-white" href="https://www.linkedin.com/in/david-bui-628b1641/" target="blank">linkedin.com/in/davidbui</a>
      </div>
      <div>
        <i class="fab fa-github-square text-info"></i> -  <a class="text-white" href="https://github.com/David-bui83" target="blank">gitHub.com/davidbui</a>
      </div>
    </div>
  </div>
</section>

<section class="model-section-summary text-left">
  <div class="row">
    <div class="col">
      <h2 class="text-primary">SUMMARY</h2>
      <p>A veteran with strong leadership and management skills seeking to advance as a full-stack developer. Quick-learner, team-player, problem-solver, and creative-thinker with experience in multiple full-stack applications: Python/Django, MEAN, and C#/ASP.NET Core. Passionate, self-driven, and constantly taking every opportunity to improve technical and programming skills.</p>
    </div>
  </div>
</section>

<section class="modal-section-qualifications text-left">
  <div class="row">
    <div class="col">
      <h2 class="text-primary">QUALIFICATION</h2>
      <p><span class="font-weight-bold text-info">Langauges</span>: C#, JavaScript, Python, CSS, HTML</p>
      <p><span class="font-weight-bold text-info">Frameworks</span>: Express, Bootstrap, Anuglar, Nginx</p>
      <p><span class="font-weight-bold text-info">Databases</span>: MySQL, SQLite, MongoDB, Oracle Database</p>
      <p><span class="font-weight-bold text-info">Dev Tools</span>: VSCode, Postman, MySQL Workbench</p>
      <p><span class="font-weight-bold text-info">Stacks</span>: Python/Django, JavaScript/MEAN, C#/ASP.NET Core</p>
      <p><span class="font-weight-bold text-info">Others</span>: AWS, GitHub</p>
    </div>
  </div>
</section>

<section class="modal-section-experience text-left">
  <div class="row">
    <div class="col">
      <h2 class="text-primary">EXPERIENCE</h2>
      <p><span class="font-weight-bold text-info">Resident Full Stack Developer, Coding Dojo, Orange County, California from 5/20/2019 - present.</span> Spent over 1000 hours coding and developing. Using programming languages such as Python, javaScript, and C#. Developed full-stack applications with MEAN, DJANGO, FLASK, and ASP.NET CORE</p>
      <p><span class="font-weight-bold text-info">IT Technian, London Nails, Los Angeles, California from 12/01/2012 - present. </span> Provide ad-hoc IT support for all technical issues. Install, manage, and support security camera system.</p>
      <p><span class="font-weight-bold text-info">IT Technian, Linh Tam Music Production, Orange County, California from 07/01/2011 - present.</span> Provide ad-hoc IT support for all technical issues. Build and support technical systems such as workstations.</p>
      <p><span class="font-weight-bold text-info">US Army Reserve Moffet Field, California. NBCNCIOC (Nuclear, Biological, Chemical, Non-commissioned Officer in Charge) from 11/01/2006 – 09/30/2009.</span> In charged/Managed of NBC Section, Armory Section, and Logistic Section. Issued, received, maintained, reported, and advisor to unit commander. Managed, diagnosed, fixed, lead, and trained unit’s soldiers.</p>
      <p><span class="font-weight-bold text-info">US Army, Fort Bliss, Texas. NBCNCIOC (Nuclear, Biological, Chemical, Non-commissioned Officer in charge) from 10/30/2003 - 10/30/2006. </span>In charged/Managed of NBC Section. Armory Section, and Logistic Section. Issued, recieved maintained, reported, and advisor to unit commandor. Managed, diagnosed, fixed, led, and trained unit's soldiers.</p>
    </div>
  </div>
</section>

<section class="model-section-education text-left">
  <div class="row">
    <div class="col">
      <h2 class="text-primary">EDUCATION</h2>
      <p><span class="font-weight-bold text-info">Coding Dojo</span> - Certificate of Achievement in Full-Stack Development: 2019</p>
      <p><span class="font-weight-bold text-info">Califonia State University, Long Beach</span> - Bachelor of Science in Mangement of Information Systems: 2018</p>
      <p><span class="font-weight-bold text-info">Orange Coast College</span> - Associate of Science in Engineering: 2016</p>
      <p><span class="font-weight-bold text-info">Orange Coast College</span> - Associate of Science in Computer Information Systems: 2016</p>
    </div>
  </div>
</section>